---
import Layout from "../layouts/PageLayout.astro";
import About from "../components/About.md";
import Resume from "../components/Resume.astro";
---

<Layout>
  <div class="prose max-w-3xl mx-auto">
    <About />
    <Resume />
  </div>
</Layout>
