---
import Layout from "../layouts/PageLayout.astro";
// import About from "../components/About.mdx";
import Book from "../components/Book.astro";
---

<Layout>
  <div class="text-2xl mb-6 pb-4 border-b-2">Favorites</div>

  <Book
    title="Economics In One Lesson"
    date="January 1979"
    author="Henry Hazlitt"
    image="/Economics_In_One_Lesson.jpg"
    description="One of the all time great books on economics, and austrian economic theory. Dispells many of the misconceptions about how the economy works, and teaches you how to look at the economy on a deeper level. As well as explains why many of the things that are taught about the economy are not true at all."
  />
  <Book
    title="Ask Your Developer"
    date="January 2021"
    author="Jeff Lawson"
    image="/Ask_Your_Developer.webp"
    description="Jeff Lawson does an excellent jop explaining why it is important to have developers solve problems, rather than implement solutions. A must read for anyone who wants to build a great team."
  />
  <Book
    title="The Soul of Erlang and Elixir"
    date="April 2019"
    author="Sasa Juric"
    image="Elixir_OTP.jpg"
    description="The best talk on Elixir, Erlang, and the BEAM. Shows what is capable with this technology and how it can be used to build extremly reliable systems. It demonstrates why the let it fail philosophy can be so powerful in distrubuited systems."
  />

  <div class="text-2xl mb-6 pb-4 border-t-2 pt-6">Recent</div>

  <Book
    title="Hackable"
    date="December 2020"
    author="Tim Burton"
    image="/Hackable.webp"
    description="Hackable breaks down a lot of the misconceptions about application security and how to do it right. It Explains the difference between: Vunerability Scan, Vunerability Assesments, Penetration Tests, and Red Team Exercises, as well as how to do all the above right."
  />

  <Book
    title="Web Secuirity For Developers"
    date="June 2020"
    author="Malcom Mcdonald"
    image="/Web_Security_For_Developers.png"
    description="Web security for developers is a great intro into the world of application security for developers. The book gives an overview of many of the common issues that web developers need to be aware of, as well as explaining how to think about security as you are writing code."
  />
</Layout>
