---
import { Icon } from "astro-icon";
---

<div class="mt-8 border-t-2"></div>
<div class="grid grid-cols-2 mt-8 mb-4">
  Copyright © 2022 | All rights reserved.
  <div class="flex justify-end">
    <a class="ml-4 mr-2" href="https://github.com/ITM007">
      <Icon pack="mdi" name="github" width="30" height="30" />
    </a>
    <a href="https://www.linkedin.com/in/ian-mungovan">
      <Icon pack="mdi" name="linkedin" width="30" height="30" />
    </a>
  </div>
</div>
