---
import ThemeIcon from "./ThemeIcon.astro";
---

<!-- stick -->
<nav class="grid grid-flow-col mt-8 mb-16 border-b-2">
  <a class="mb-4 text-xl font-medium no-underline" href="/">Ian Mungovan</a>
  <div class="flex justify-end">
    <a class="px-4 no-underline" href="/about">About</a>
    <a class="px-4 no-underline" href="/projects">Projects</a>
    <a class="px-4 no-underline" href="/blog">Blog</a>
    <a class="px-4 mr-4 no-underline" href="/library">Library</a>
    <!-- <ThemeIcon /> -->
  </div>
</nav>
