---
import { Icon } from "astro-icon";

let description = `Hi, my name is Ian Mungovan. I am a DevSecOps Engineer at Rolls-Royce Defense in Indianapolis Indiana, with a focus on Cloud Native Development, Application Security, and Digital Transformation. I am also a Cyber Security Officer in the US Army. Check out my some of my blog posts, and feel free to reach out at the links below.`;
let image = "Ian_Picture.avif";
---

<div class="grid lg:grid-cols-4 md:grid-cols-3 pb-16">
  <img
    class="rounded-full w-5/6 sm:col-start-2 md:col-start-2 lg:col-start-1"
    src={image}
    alt=""
  />

  <div class="col-span-3 pt-4">
    <div>{description}</div>

    <div class="flex pt-6 pb-2">
      Find me on:
      <a
        class="ml-2 mr-2"
        href="https://github.com/ITM007"
        aria-label="Github URL"
      >
        <Icon pack="mdi" name="github" width="30" height="30" />
      </a>
      <a
        class=""
        href="https://www.linkedin.com/in/ian-mungovan"
        aria-label="LinkedIn URL"
      >
        <Icon pack="mdi" name="linkedin" width="30" height="30" />
      </a>
    </div>
    <div class="flex">
      Favorite Tech:

      <a
        class="ml-2 mr-2"
        href="https://www.rust-lang.org/"
        aria-label="Rust Language"
      >
        <Icon pack="mdi" name="language-rust" width="34" height="34" /></a
      >
      <a href="https://www.digitalocean.com/" aria-label="Digital Ocean Link">
        <Icon pack="mdi" name="digital-ocean" width="32" height="32" /></a
      >
      <a class="ml-2" href="https://astro.build/" aria-label="Atro URL">
        <Icon
          pack="vscode-icons"
          name="file-type-astro"
          width=" 30"
          height="30"
        /></a
      >
    </div>
  </div>
</div>
