---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "@fontsource/jetbrains-mono";

interface Props {
  title?: string;
}
const { title } = Astro.props;
---

<html lang="en" title="Ian Mungovan Blog">
  <head>
    <meta name="description" content="Ian Mungovan's Blog" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <Header title={title} />
    <title>Ian Mungovan Blog</title>
  </head>
  <body class="container w-2/3 max-w-screen-xl mx-auto">
    <slot />
    <Footer />
    <style>
      body {
        font-family: "JetBrains Mono", monospace;
      }
    </style>
  </body>
</html>
